<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped sonata-ba-list">
        <thead>
        <tr class="sonata-ba-list-field-header">
            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                Aluno
            </th>
            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                Presente
            </th>
            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                Falta
            </th>
            <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc">
                Falta Justificada
            </th>
        </tr>
        </thead>

        <tbody>
        {% if Model is not empty %}
            {% for frequencia in Model %}
                <tr>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{frequencia.getId()}}">
                        {{ frequencia.getMatricula().getAluno().getNome() }}
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                        <input type="radio" name="frequencia_{{loop.index}}" value="{{frequencia.getId()}}_{{frequencia.getMatricula().getId()}}_P" {{ (frequencia.getTipoFrequencia() == 'P') ? 'checked' : '' }}>
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                        <input type="radio" name="frequencia_{{loop.index}}" value="{{frequencia.getId()}}_{{frequencia.getMatricula().getId()}}_F" {{ (frequencia.getTipoFrequencia() == 'F') ? 'checked' : '' }}>
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                        <input type="radio" name="frequencia_{{loop.index}}" value="{{frequencia.getId()}}_{{frequencia.getMatricula().getId()}}_FJ" {{ (frequencia.getTipoFrequencia() == 'FJ') ? 'checked' : '' }}>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<script>
    $("input").iCheck({checkboxClass: 'icheckbox_square-blue', radioClass: 'iradio_square-blue'});
</script>